src/scheduler
src/scheduler_testing
src/test
src/Scratch.cpp
src/Scratch
src/*.gch
.vscode

# TESTING 
testing/*.o
testing/*.dat
testing/tasks/TestTask.cl
testing/Task_constructor
testing/Task_methods
testing/validate_hms
testing/validate_wday
testing/validate_wday_hms
testing/validate_yyyymmdd
testing/validate_yyyymmdd_hms
testing/init_today
testing/init_year
testing/today_add_hms
testing/today_add_dhms
testing/today_add_wday_hms
testing/today_add_yyyymmdd
testing/today_add_yyyymmdd_hms
testing/compute_datetime_format
testing/validate_task_parms
testing/validate_task_parms_Once
testing/validate_task_parms_Hourly
testing/validate_task_parms_Daily
testing/validate_task_parms_Weekly
testing/validate_task_parms_Monthly
testing/validate_task_parms_Yearly
testing/Task_update_execution_datetime_Once
testing/Task_update_execution_datetime_Hourly
testing/Task_update_execution_datetime_Daily
testing/Task_update_execution_datetime_Weekly
testing/Task_update_execution_datetime_Monthly
testing/Task_update_execution_datetime_Yearly
testing/Task_setting_exec_datetime_Once
testing/Task_setting_exec_datetime_Hourly
testing/Task_setting_exec_datetime_Daily
testing/Task_setting_exec_datetime_Weekly
testing/Task_setting_exec_datetime_Monthly
testing/Task_setting_exec_datetime_Yearly
testing/Scheduler_get_instance
testing/Scheduler_methods
testing/Scheduler_Task_run_task
testing/Scheduler_load_tasks_from_dir
testing/Scheduler_load_task
