src/scheduler
src/scheduler_testing
src/test
src/Scratch.cpp
src/Scratch
src/*.gch
.vscode

# TESTING 
testing/*.o
testing/Task_constructor
testing/Task_methods
testing/validate_hms
testing/validate_wday
testing/validate_wday_hms
testing/validate_mmdd
testing/validate_mmdd_hms
testing/validate_yyyymmdd
testing/validate_yyyymmdd_hms
testing/init_today
testing/init_year
testing/today_add_hms
testing/today_add_dhms
testing/today_add_wday_hms
testing/today_add_mmdd
testing/today_add_mmdd_hms
testing/today_add_yyyymmdd
